<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMILIA</title>.
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <main>
        <header>
            <h1>FAMILIA...</h1>

        <nav class="personal3">
            <ul>
          <li><a href="../index.html">QUIEN SOY</a></li>
          <li><a href="./Hobbies.html">HOBBIES</a></li>
          <li><a href="./Familia.html">FAMILIA</a></li>
           
        </nav>
    </ul>
</header>
    <br>
        
        <nav class="nav-bar">
            <p>Somo una familia unida, sobresaliendo como equipo y entregamos lo que tenemos para que sea la mejor experiencia de vida aconmpañada de seres que amamos.</p>
        </nav>
        <div class="fami">
        <div id="foto_F1"><img src="/Assets/Imagenes/img2 (2).jpeg" alt=""></div>
        <div id="foto_F2"><img src="/Assets/Imagenes/imgF2.jpeg" alt=""></div>
        </div>
    </main>
    <br>
    <footer>
        Pagina realizada por Duvan S. Guzman L. &copy; Todos los derechos reservados 2024
    </footer>
</body>
</html>