<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <main>
        <header>
            <h1>MIS HOBBIES...</h1>
        
        <nav class="personal2">
            <ul>
          <li><a href="../index.html">QUIEN SOY</a></li>
          <li><a href="./Hobbies.html">HOBBIES</a></li>
          <li><a href="./Familia.html">FAMILIA</a></li>
           
        </nav>
    </ul>
</header>
    
        <nav class="hobbie">
            <p>Tengo alguna variedad de Hobbies los cuales me ayudan a mi progreso deportivo y personal, en estos encontramos el BALONCESTO, GYM y VERY MUSIC.</p>

        </nav>
    <div class = infoHobbies>
    <div id="foto_H1"><img src="/Assets/Imagenes/img1.jpeg" alt=""></div>
    <div id="foto_H2"><img src="/Assets/Imagenes/imgH2.jpeg" alt=""></div>

    </div>

    </main>
    <br>
    <footer>
        Pagina realizada por Duvan S. Guzman L. &copy; Todos los derechos reservados 2024
    </footer>
</body>
</html>